<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <title>Yelp x NYC Taxi</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Custom styles for this template-->
        <link href="../css/navbar-static-top.css" rel="stylesheet">
        <style>
            .nav-link {
                margin-left: 20px;
                margin-right: 20px;
                vertical-align: center;
            }
            #navbar {
                margin-top: 15px;
            }
            .tenor-gif-embed {
                margin-bottom: 10px;
            }
            .project-description {
                font-size: 14px;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <!-- Static navbar-->
        <nav role="navigation" class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Yelp x NYC Taxi</a></div>
                <div id="navbar" class="collapse navbar-collapse">
                    <a class="nav-link" href="/data/:pickup">Taxi Pickup</a>
                    <a class="nav-link" href="/dropoff">Taxi Dropoff</a>
                    <a class="nav-link" href="/images">Image Search</a>
                </div>
            </div>
        </nav>

        <form id="tableForm" action="/images:results" method="get">
            <select class="dropdown" data-style="btn-info" name="dropdown">
            <optgroup label="Select City">
                <option name="" value="0">Select City</option>
                <option name="Pittsburgh" value="1">Pittsburgh</option>
                <option name="Richmond Heights" value="2">Richmond Heights</option>
                <option name="Charlotte" value="3">Charlotte</option>
                <option name="Toronto" value="4">Toronto</option>
                <option name="Scottsdale" value=5>Scottsdale</option>
                <option name="Phoenix" value=6>Phoenix</option>
                <!-- ['Richmond Heights', 'Charlotte', 'Toronto', 'Scottsdale', 'Phoenix',
       'Pittsburgh', 'McMurray', 'Gilbert', 'Las Vegas', 'Mesa',
       'Avondale', 'Matthews', 'Stanley', 'Cleveland', 'Pineville',
       'Mississauga', 'Edinburgh', 'Montréal', 'Rocky River', 'Madison',
       'Pickering', 'Richmond Hill', 'Middleton', 'Beachwood', 'Chandler',
       'Ajax', 'North York', 'Parma Heights', 'Mc Kees Rocks', 'Champaign',
       'Montreal', 'Tempe', 'Indian Trail', 'Stuttgart', 'Painesville',
       'Urbana', 'Brecksville', 'Glasgow', 'Bedford', 'Glendale',
       'Harrisburg', 'Cave Creek', 'Rosemere', 'Markham', 'Sun City',
       'Verona', 'North Las Vegas', 'Northfield', 'Murrysville',
       'Lakewood', 'Strongsville', 'Goodyear', 'Vaughan', 'Willoughby',
       'Inverness', 'Gastonia', 'Wexford', 'Henderson', 'Peoria', 'Mentor',
       'Huntersville', 'Whitby', 'North Olmsted', 'Elyria', 'Brossard',
       'Fitchburg', 'Scarborough', 'Middleburg Heights', 'Allison Park',
       'Tolleson', 'Concord', 'East Gwillimbury', 'Lorain', 'Monroeville',
       'Bethel Park', 'Stallings', 'Mayfield Heights', 'Cuyahoga Falls',
       'Irwin', 'Brampton', 'Mc Farland', 'Surprise', 'Saint-Hubert',
       'Mascouche', 'Canonsburg', 'Saint-Leonard', 'Laveen Village',
       'Boulder City', 'Eastlake', 'Fellbach', 'Millvale', 'Tuscola',
       'Etobicoke', 'Oakville', 'Penn Hills', 'Plum', 'Chagrin Falls',
       'Fort Mill', 'Chardon', 'Hinckley', 'McKeesport', 'Streetsboro',
       'Enterprise', 'Brook Park', 'Monona', 'York', 'Thornhill', 'Stow',
       'Laval', 'North Randall', 'Stuttgart-Vaihingen', 'Coraopolis',
       'McKees Rocks', 'Castle Shannon', 'East York', 'Newhaven',
       'las vegas', 'Concord Mills', 'Schönaich', 'Valley City',
       'North Ridgeville', 'Kent', 'Litchfield Park', 'Savoy', 'Avon',
       'Valley View', 'Kornwestheim', 'Bonnyrigg and Lasswade', 'Verdun',
       'Bay Village', 'Euclid', 'North Royalton', 'Cornelius', 'Trafford',
       'Chesterland', 'Cottage Grove', 'Berea', 'Parma', 'Waiblingen',
       'Kannapolis', 'Westlake', 'Unionville', 'Sun Prairie', 'Dravosburg',
       'Whitchurch-Stouffville', 'Solon', 'Lyndhurst', 'Cleveland Heights',
       'Saint-Philippe', 'Belmont', 'Kirkcaldy', 'Old Town',
       'Fountain Hills', 'Sun City West', 'Sainte-Julie', 'Lasalle',
       'Bridgeville', 'Broadview Heights', 'Philo', 'Hudson',
       'North Versailles', 'El Mirage', 'Moon Twp',
       'Leinfelden-Echterdingen', 'Ludwigsburg', 'Springdale', 'Mantua',
       'Copley', 'Saint-Sauveur', 'Westmount', 'Aurora', 'Chateauguay',
       'Stoughton', 'Bradford', 'Ambridge', 'Paw Creek', 'Brooklyn',
       'Esslingen', 'Pointe-Claire', 'Pierrefonds', 'Litchfield',
       'Saint-Laurent', 'Heidelberg', 'Mount Lebanon', 'Newmarket',
       'Hemmingen', 'Peninsula', 'Schomberg', 'Stowe', 'Ingram',
       'Musselburgh', 'Shaker Heights', 'Avon Lake', 'Mahomet',
       'Boisbriand', 'Maple', 'Spring Valley', 'Tallmadge',
       'Bainbridge Township', 'Georgetown', 'Topaz', 'Livingston',
       'Dorval', 'Sheffield', 'Ostfildern', 'Oakwood Village', 'Oakdale',
       'Lachine', 'Woodmere', 'Medina', 'Sheffield Village',
       'University Heights', 'Dunfermline', 'North Huntingdon',
       'McFarland', 'Braddock', 'Paradise', 'Midlothian', 'MESA',
       'Filderstadt', 'Brooklin', 'Carnegie', 'Waxhaw',
       'Stuttgart Bad-Canstatt', 'Missisauga', 'Woodbridge', 'Davidson',
       'Carefree', 'West Homestead', 'Richfield', 'Garfield Heights',
       'South Euclid', 'Outremont', 'Kernen', 'Goodyear AZ',
       'Moreland Hills', 'De Forest', 'Boucherville', 'Pleasant Hills',
       'Paradise Valley', 'Wickliffe', 'LaSalle', 'Oakmont', 'Las vegas',
       'Mount Horeb', 'Totronto', 'Beloeil', 'Brunswick', 'Frazer',
       'Lake Wylie', 'White Oak', 'Belleville', 'Bruntsfield',
       'Sindelfingen', 'Mentor-on-the-Lake', 'Leith', 'Fairview Park',
       'Dalkeith', 'Sewickley', 'Homestead', 'West Mifflin',
       'San Tan Valley', 'New Kensington', 'Gibsonia',
       'Dollard-des-Ormeaux', 'Anthem', 'Vanier', 'Highland Heights',
       'Saint-Jean-sur-Richelieu', 'Repentigny', 'Laveen', 'Macedonia',
       'Elizabeth', 'Huntsburg', 'Longueuil', 'DeForest', 'Upper St Clair',
       'Fairlawn', 'Amherst', 'Forest Hills', 'Burton', 'Moon Township',
       'Mayfield', 'Vaudreuil-Dorion', 'Warrensville Heights', 'WICKLIFFE',
       'Munhall', 'Imperial', 'Fort McDowell', 'Columbia Station',
       'Olmsted Township', 'Dallas', 'Catawba Springs', 'South Las Vegas',
       'Sainte-Catherine', 'Glenshaw', 'Aspinwall', 'Roosevelt', 'Rexdale',
       'St-Bruno-de-Montarville', 'Böblingen', 'Bath', 'Hawthorne',
       'Candiac', 'N Las Vegas', 'Dollard-Des-Ormeaux',
       'Robinson Township', 'Monticello', 'Oregon', 'Brentwood',
       'Monongahela', 'Highland Hills', 'Saint-Basile-Le-Grand',
       'Fairview', 'Midland', 'Tega Cay', 'Moss', 'Mount Holly',
       'Saint-Marc-Sur-Richelieu', 'Maple Heights', 'Camargo', 'Morgan',
       'McAdenville', 'Twinsburg', 'Mc Murray', 'Silver Lake', 'Windsor',
       'Bolton', 'Olivos', 'Harmarville', 'Blue Diamond',
       'South Queensferry', 'Olmsted Falls', 'N. Las Vegas',
       'Firth of Forth', 'Leonberg', 'Whtiby', 'Saint Laurent',
       'Seven Hills', 'Walton Hills', 'Kleinburg', 'Harrison City',
       'Willowdale', 'Ridgeville', 'Indian Land', 'New Town', 'Delson',
       'Churubusco', 'Denkendorf', 'Saint-Hyacinthe', 'Gullane',
       'Finleyville', 'Leinfelden', 'Surprise Crossing', 'La Prairie',
       'Moon', 'Caledon East', 'Fairport Harbor', 'Sheffield Lake',
       'Sun Lakes', 'Steinenbronn', 'Lower Burrell', 'St-Eugène',
       'Willowick', 'Mt. Lebanon', 'Downtown', 'Sainte-Anne-de-Bellevue',
       'Ditzingen', 'King City', "L'ile-Perrot", 'Waunakee', 'Mirabel',
       'Saint-Eustache', 'Shaler Township', 'Side Slopes', 'Port Credit',
       'Streetsville', 'Gormley', 'Lowell', 'Independence', 'Berry',
       'Wilkins Township', 'Middleburg Hts', 'Wesley Chapel',
       'Jefferson Hills', 'Bonnyrigg', 'Mint Hill',
       'Sainte-Anne-De-Bellevue', 'Brookpark', 'Hampton Township',
       'Esslingen am Neckar', 'Wilkinsburg', 'Grafton', 'Hochdorf',
       'Caledon', 'Île des Soeurs', 'Hendserson', 'Lawrence', 'Sharpsburg',
       'Library', 'Nellis AFB', 'Middlefield', 'Charlotte (University)',
       'columbia station', 'Stouffville', 'Bellevue', 'Summerlin South',
       'Neville Island', 'Pencaitland', 'Sainte-Adèle', 'Beaconsfield',
       'Neuhausen', 'Shadyside', 'Saint-Lambert', 'Burntisland', 'Montral',
       'Saint Joseph', 'Clarkson', 'Waddell', 'Piedmont', 'Fox Chapel',
       'St-Leonard', 'Cramerton', 'Gilbert AZ', 'Lowesville', 'Kirkland',
       'Mont-Saint-Hilaire', 'Munroe Falls', 'Ingomar', 'Mont-Royal',
       'Swissvale', 'Baldwin', 'Novelty', 'Bedford Heights', 'Gerlingen',
       'Malton', 'Bainbridge', 'Youngtown', 'Mc Donald', 'Dormont',
       'Cecil', 'Rantoul', 'St. Jean Sur Richelieu', 'Pepper Pike',
       'Weddington', 'Sagamore Hills', 'Nobleton', 'Buckeye - Shaker',
       'Turtle Creek', 'Downsview', 'West View', 'Rouses Point', 'Houston',
       'Guadalupe', 'Willoughby Hills', 'Creighton', 'Loanhead',
       'Robinson', 'St. Joseph', 'Vimont', 'Mount Albert', 'Cheswick',
       'Cuyahoga Heights', 'Saint Leonard', 'oakville', 'McMurry',
       'Lagrange', 'Nellis Afb', 'Mayfield Village', 'Châteauguay',
       'Murrysville (Monroeville)', 'Pitcairn', 'Nellis Air Force Base',
       'Shaker Hts', 'Lothian', 'Beeton', 'Ahwatukee', 'Ballantyne',
       'Newbridge', 'Clinton', 'Terrebonne', 'South Gyle', 'Quartermile',
       'Higley', 'Shorewood Hills', 'East McKeesport', 'East Mc Keesport',
       'St Davids', 'South Park Township', 'Saint-Bruno-de-Montarville',
       'Cote Saint-Luc', 'Saint-Pierre-de-Véronne-à-Pike-River', 'Chambly',
       "L'Île-Bizard", 'Bradford West Gwillimbury', 'Morin-Heights',
       'La Salle', 'Mt. Horeb', 'Rigaud', 'Saint-Constant',
       'Boston Heights', 'Henderston', 'Freyburg', 'Mattews',
       'North Scottsdale', 'Fountainbridge', 'Rosemère', 'Old Scottsdale',
       'East Pittsburgh', 'Remseck am Neckar', 'Dalgety Bay', 'South Park',
       'Etna', 'Mayfield Hts.', 'Saint-Lazare', 'Chander', 'King',
       'Glendale Az', 'Blawnox', 'Saint-Jerome', 'Sainte-Genevieve',
       'Nottingham', 'Lake Park', 'Squirrel Hill', 'Glassport',
       'City of Edinburgh', 'East Cleveland', 'Lasswade', 'Brookline',
       'Phoenix AZ', 'peoria', 'St Bernard de Lacolle', 'Aberdour',
       'Newbury', 'Ft. Mill', 'Anjou', 'Las  Vegas',
       'St-Lazare-de-Vaudreuil', 'The Promenade', 'Cross Plains',
       'TORONTO', 'Bedford Hts.', 'Northfield Center Township', 'Crafton',
       'Centre Island', 'Geauga', 'Strongville', 'Rankin', 'London',
       'Phoenix,', 'Wilmerding', 'NORTH YORK', 'etobicoke', 'Homer',
       'Ingliston', 'Bellvue', 'Upper St. Clair', 'Newington',
       'Orange Village', 'Leetsdale', 'Thorncliffe Park', 'Robinson Town',
       'Penicuik', 'Pilton', 'Chatauguay', 'Summerlin',
       'Korntal-Münchingen', 'Oka', 'Montreal-West', 'Las Vegas Strip',
       'Juniper Green', 'Las Vegas, NV', 'Ste-Adele', 'McKnight',
       'Richmond Hts', 'Schwieberdingen', 'Herminie', 'Prestonpans',
       'Dollard-Des Ormeaux', 'Haddington', 'Scottdale', 'mesa',
       'Ross Township', 'South Hills', 'Montreal-Nord', "L'Île-Perrôt",
       'Fabreville', 'FORT MILL', 'Broadlands', 'Median', 'Mayfield Hts',
       'Kirtland', 'Henderson and Las vegas', 'Centennial Hills', 'Ratho',
       'Noyan', 'Venetia', 'Clark', 'Mansfield', 'Montréal-Nord',
       'Salaberry-De-Valleyfield', 'Berg', 'Sainte-Adele', "L'ile-Bizard",
       'Nord', 'Longniddry', 'Gifford', 'Orange', '', 'North of Brampton',
       'Sidney', 'Montreal-Ouest', 'Shady Side', 'Phoenix, AZ',
       'Mesa Arizona', 'Arrowhead', 'Pointe-Aux-Trembles', 'Harrisbug',
       'Chateau', 'Clairton', 'Scaroborough', 'Champlain', 'Farnham',
       'Saint-Jean-Sur-Richelieu', 'East Mesa', 'Sainte-Therese', 'Arnold',
       'Balerno', 'Greenfield Park', 'Hazelwood',
       "Peoria Ave Citizen's Group", 'Old Brooklyn', 'Edgewood', 'Weston',
       'Cuddy', 'Saint-Antoine', 'toronto', 'St-Jerome', 'Sunnyslope',
       'Sainte-Dorothée', 'NorthYork', 'Phoneix', 'Linden',
       'Kernen im Remstal', 'Crescent', 'Thornhil', 'Black Earth',
       'Warrensville Hts.', 'University Hts ', 'Sun City Anthem',
       'Bedford HTS', 'Mentor On the', 'Möglingen', "L'Ile-Perrot",
       'McCandless', 'Sainte-Thérèse', 'Mount Washington', 'Pheonix',
       "Baie-d'Urfé", 'Bernhausen', 'Saint-Hippolyte', 'Troy Township',
       'Leslieville', 'Rainbow Valley', 'Remseck', 'N Ridgeville',
       'Mentor On the Lake', 'Wildwood',
       'Deux-Montagnes Regional County Municipality', 'Lauder',
       'Schottsdale', 'River Drive Park', 'Glenrothes', 'Gorebridge',
       'Edgeworth', 'Toronto, Ontario', 'Statesville',
       'Sainte-Marguerite-du-Lac-Masson', "L'Île-Perrot", 'Emsworth',
       'Lachenaie', 'Avalon', 'Saint - Hyacinthe', 'Joliette',
       'N. Olmsted', 'Queensferry', 'Pheonix AZ', 'Central City Village',
       'Aberlady', 'Stoney Creek', 'Kahnawake', 'Estérel',
       'Old Town Scottsdale', 'Rawdon', 'Cuyahoga Fls', 'Desert Ridge',
       'Pittsburg', 'Downtown Toronto', 'Grand River', 'Northside',
       'Roxboro', 'Saint Anns', 'Russell Twp', 'Monoroeville',
       'Napierville', 'Cowdenbeath', 'Ranlo', 'Buena Vista',
       'tempe arizona', 'Bratenahl', 'Upper Saint Clair', 'Blainville',
       'Île-des-Soeurs', 'Lachute', 'McDonald', 'Sainte-Madeleine',
       'Sainte-Anne-des-Plaines', 'McCandless Township', 'Indian Land,',
       'Mooers', 'N E Las Vegas', 'Saint-Sauveur-des-Monts', 'La Baie',
       'Mccandless Township', 'Alburg', 'Sloan', 'Warrensvile Heights',
       'Oakland', 'Phoenix Valley', 'Concord Twp', 'North Huntington',
       'Leven', 'North Olmstead', 'Vaudreuil', 'Mt Lebanon',
       'East Gwilimbury', 'Central Henderson', 'Fort  Mill', 'Mcmurray',
       'North Toronto', 'Dudley', 'Liberty', 'Northfield Center', 'Norval',
       'Portobello', 'Old Port of Montreal', 'Mercier', 'AGINCOURT',
       'Mesa AZ', 'Vaughn', 'Ashburn', 'Plieningen', 'North Braddock',
       'Saint-Bruno', 'Le Sud-Ouest', 'Bradfordwoods', 'Paoli', 'Presto',
       'Goodwood', 'Pepperpike', 'CHARLOTTE', 'Montréal (Québec)',
       'Montréal-Ouest', 'Arlington', 'Mont-Saint-Gregoire',
       'West Lothian', 'Pgh Int Arprt', 'Schwaikheim', 'San Rafael',
       'Lingen', 'Hemmingford', 'West Akron', 'Regent Square',
       'Reminderville', 'Chandler-Gilbert', 'Tranent', 'Oak Ridges',
       'Concord Township', 'CITY CENTER', 'Dane', 'Queensville', 'Ross',
       'Strip District', 'Wolfschlugen', 'Cleveland Hghts.',
       'East Lothian', 'Communauté-Urbaine-de-Montréal', 'Phoniex',
       'Don Mills', 'West Toronto', 'Pincourt', 'Franklin Park',
       'New Eagle', 'Lower Lawrenceville', 'Morriston', 'Springfield',
       'Mississuaga', 'Brimfield', 'Tottenham', 'West Elizabeth',
       'Stockbridge', 'Saint-Marc-sur-Richelieu', 'Glen Williams',
       'MC Murray', 'Vaughn City', 'Ste-Rose', 'Whitney', 'Gelndale',
       'Maple Grove', 'N. Ridgeville', 'Currie', 'Charlote',
       'Sainte-Thérèse-de-Blainville', 'Sainte-Marie', 'Kirknewton',
       'Mississauaga', 'Tremont', 'Elk Grove Villa', 'Sunrise',
       'Robinson Twp.', 'Fullerton', 'St-Lazare', 'Pine', 'N W Las Vegas',
       'Westworld Scottsdale', 'Saint-Isidore-De-Laprairie', 'Roslin',
       'Claremont', 'Las Vegass', 'Forest Grove', 'Elrama', 'Saint-Henri',
       'Ogden', 'Le Haut-Saint-Laurent Regional County Municipality',
       'Brooklyn Heights', 'Canonsburd', 'Regional Municipality of York',
       'Saint-Jérôme', 'Duquesne', 'North Olmsted,', 'Auburn Township',
       'Hiram', 'Lake Las Vegas', 'clinton', 'Westview',
       'Kennedy Township', 'Ansnorveldt', 'Gates Mills', 'Leaside',
       'Pointe Claire', 'Greater Charlotte', 'Ben Avon', 'Prévost',
       'Saint-Bernard-De-Lacolle', 'Bathurst Quay', 'Monreoville',
       'Scotesdale', 'Mint  Hill', 'St-Benoît de Mirabel',
       "Notre-Dame-De-L'ile-Perrot", 'Mayfield Heights.', 'Godmanchester',
       'Point Claire', 'Henderson Nevada', 'Hendersonville', 'Rillton',
       "L'assomption", 'Las Vegas NV', 'Mayfield Heights (Cleveland)',
       'Montéal', 'Russell', 'Stuttgart - Bad Cannstatt',
       'Woodmere Village', 'Warrensville Hts', 'Livingstone',
       'Saint-sauveur', 'Chomedey, Laval', 'Henderson (Green Valley)',
       'Green Tree', 'Peters Township', 'Southside Flats', 'Meza',
       'Elizabeth Township', 'Vilas', 'Shaler', 'C Las Vegas', 'Allegheny',
       'Estrella Village', 'Scarborough,', 'Mckeesport', 'Mount Royal',
       'Middleburg Hts.', 'Brunswick Hills', 'chandler', 'Medina Township',
       'Las Vegas East', 'nboulder city', 'Charlemagne', 'Scarobrough',
       'St-Laurent', 'Indian land', 'Central City', 'Edinburgh City of',
       'East Credit', 'Scarbrough', 'Freiberg', 'Inglewood', 'Broxburn',
       'Sun City Grand', 'W Henderson', 'Plum Boro', 'Lake Norman',
       'Stetson Valley', 'Inverkeithing', 'Warrensville',
       'York Regional Municipality', 'Phoenix metro area',
       'Cote-Saint-Luc', 'Bentleyville', 'Huntingdon', 'Indianola',
       'Harwick', 'Kingussie', 'Mt Albert', 'Ahwahtukee', 'Shandwick',
       'Banksville', 'Glbert', 'Sainte-Marthe', 'Montrose',
       'Chagrin Highlands', 'San Tan', 'Stowe Township', 'LasVegas',
       'McMasterville', 'Caledon Village', 'North Queensferry',
       'Palmerston', 'Water of Leith', 'Spring Hill City View', 'Chertsey',
       'St. Anns', 'Sainte-thérèse', 'Lambton', 'South Mountain',
       'Auburn Twp', 'Blackness', 'Woodbridge (Vaughan)', 'Russellton',
       'Aichwald', 'Edimbourg', 'Green Valley', 'Promenade', 'East Loth',
       'Fithian', 'Bois-Des-Filion', 'Ormstown', 'Vieux Montreal',
       'Pittsburch', 'Ahwatukee Foothills Village', 'N. Randall',
       'Brooklyn Hts.', 'Harrisburg,', 'Mt. Oliver Boro', 'Côte-Saint-Luc',
       "Saint-Roch-De-L'achigan", 'South Amherst', 'Scott Township',
       'Bloomfield', 'St Joseph', 'Cramond', 'Stetten', 'Scotland', 'Phx',
       'Straiton', 'Tolono', 'Richmond Hil', 'East Liberty', 'Münster',
       'frazer', 'Fitchburgh', 'St Leonard', 'SCOTTSDALE AZ', 'Mathews',
       'Lacolle', 'Municipality of Murrysville', 'Rural Ridge',
       'Beauharnois', 'Indian Lands', 'Villa Grove', 'Monroeville - Pit.',
       '110 Las Vegas', 'Sindelfingen/Eichholz', 'S Concord', 'Whiitby',
       'Cooksville', 'East Mississauga', 'Kernen-Stetten', 'University Ht',
       'Dewey', 'SLOAN', 'Nellis', 'W Spring Valley', 'N. OLMSTED',
       'Ste-Therese-de-Blainville', 'Newburgh Heights', "Baie-D'urfe",
       'Citibank', 'Saint-Bernard-de-Lacolle', 'Lavaltrie']
   -->
            </optgroup>
            </select>
            <input type="submit" />
        </form>

         <!-- <div class="container">
            <div class="jumbotron">
         <div ng-controller="insertController">
        <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Enter details to insert:
        </p>
            Login: <input type="text" name="login" ng-model="login" value=""/></br>
            Name: <input type="text" name="name" ng-model="name" value=""/></br>
            Sex: <input type="text" name="sex" ng-model="sex" value=""/></br>
            RelationshipStatus <input type="text" name="RelationshipStatus" ng-model="RelationshipStatus" value=""/></br> 
            Birthyear <input type="text" name="Birthyear" ng-model="Birthyear" value=""/></br>
            <button type="button" ng-click="Insert()" class="button">Insert</button></br>
        </div> -->
    </body>
</html>