<!DOCTYPE html>
<html ng-app="angularjsNodejsTutorial">
    <head>
        <title>Yelp x NYC Taxi</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script src="javascripts/app.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <!-- Custom styles for this template-->
        <link href="../css/navbar-static-top.css" rel="stylesheet">
        <style>
            .nav-link {
                margin-left: 20px;
                margin-right: 20px;
                vertical-align: center;
            }
            #navbar {
                margin-top: 15px;
            }
            .tenor-gif-embed {
                margin-bottom: 10px;
            }
            .project-description {
                font-size: 14px;
                margin-bottom: 10px;
            }
        </style>
        
    </head>
    <body data-spy="scroll" data-target=".scrollspy">
        <header></header>
        <!-- Static navbar-->
        <nav role="navigation" class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header"><button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">Yelp x NYC Taxi</a></div>
                <div id="navbar" class="collapse navbar-collapse">
                    <a class="nav-link" href="/data/:pickup">Taxi Pickup</a>
                    <a class="nav-link" href="/dropoff">Taxi Dropoff</a>
                    <a class="nav-link" href="/images">Image Search</a>
                </div>
            </div>
        </nav>

        <form id="tableForm" action="/images:results" method="get">
            <select id="image-dropdown" class="dropdown" data-style="btn-info" name="dropdown">
              <script>
              var select = document.getElementById("image-dropdown"); 
              var options = ['Richmond Heights', 'Charlotte', 'Toronto', 'Scottsdale', 'Phoenix',
             'Pittsburgh', 'McMurray', 'Gilbert', 'Las Vegas', 'Cleveland', 'Edinburgh', 'Montréal', 'Madison',
             'Pickering', 'Middleton', 'Champaign', 'Montreal', 'Tempe', 'Stuttgart', 
             'Urbana', 'Brecksville', 'Glasgow', 'Bedford', 'Glendale', 'Harrisburg', 
             'Verona', 'North Las Vegas', 'Lakewood', 'Strongsville', 'Goodyear', 'Vaughan', 'Willoughby',
             'Scarborough', 'Concord', 'Savoy', 'Avon', 'Dallas', 'Windsor']; 

              for(var i = 0; i < options.length; i++) {
                  var opt = options[i];
                  var el = document.createElement("option");
                  el.textContent = opt;
                  el.value = opt;
                  select.appendChild(el);
              }
            </script>
            </select>
            <input type="submit" />
        </form>

         <!-- <div class="container">
            <div class="jumbotron">
         <div ng-controller="insertController">
        <p><span aria-hidden="true" class="glyphicon text-primary glyphicon-search"></span> Enter details to insert:
        </p>
            Login: <input type="text" name="login" ng-model="login" value=""/></br>
            Name: <input type="text" name="name" ng-model="name" value=""/></br>
            Sex: <input type="text" name="sex" ng-model="sex" value=""/></br>
            RelationshipStatus <input type="text" name="RelationshipStatus" ng-model="RelationshipStatus" value=""/></br> 
            Birthyear <input type="text" name="Birthyear" ng-model="Birthyear" value=""/></br>
            <button type="button" ng-click="Insert()" class="button">Insert</button></br>
        </div> -->
    </body>
</html>